textarea {
  resize: none;
  height: 34px;
}

.alert-success {
  padding: 8px;
  background: #26b99a;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
}

.modal-footer {
  padding: 3px 15px 7px 15px !important;
  border-top: 0px !important;
}

.modal-body {
  padding-bottom: 7px !important;
}

.alert-danger {
  padding: 8px;
  background: rgba(255, 115, 101, 0.88);
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
}

.scroll-view {
  position: fixed !important;
}

.select2-container {
  width: 100% !important;
}

.select2-container:focus {
  outline: 1px #1e1e774f auto !important;
}

.select2-selection--multiple {
  border: 1px solid #ccc !important;
}

.form-control {
  border-radius: 4px !important;
}

.form-control:focus {
  outline: 1px #1e1e774f auto;
}

div.progress {
  height: 6px;
  border-radius: 0px;
  margin-bottom: 0px !important;
}


body {
  background: #fff; 
  color: #445773;
}

table > tbody > tr > td {
  /*cursor: pointer;*/
  vertical-align: middle !important;
}

.x_panel {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  min-height: 650px !important;
}

body .container.body .right_col {
  background: #eaeaea;
}

.left_col {
  background: #fff;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
  border-right: 4px solid #a5a5a5;
}

.profile_info span {
  color: #445773;
}

.profile_info h2 {
  color: #445773;
}

.nav.child_menu>li>a, .nav.side-menu>li>a {
  color: #445773;
  margin-bottom: 0px !important;
}

.nav.side-menu>li>a:hover, .nav>li>a:focus {
  background: #e6e6e6;
}

.nav.side-menu>li>a:hover {
  color: #445773 !important; 
  font-weight: 700;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
  border-right: 4px solid #a5a5a5;
}

.nav.side-menu>li.active>a {
  font-weight: 700;
  background: #d8d8d8;
  box-shadow: #d0d0d0 0 0px 0;
  text-shadow: none;
  margin-bottom: 3px !important;
}

.nav.child_menu>li>a {
  color: #4b6480;
  font-size: 13px;
  padding: 9px;
}

.nav.child_menu>li:hover {
  background: #dcdcdc;
}

.nav li li.current-page a, .nav.child_menu li li a.active, .nav.child_menu li li a:hover {
  color: #4b6480;
}

.nav li.current-page {
  background: #eaeaea;
}


.nav>li>.user-profile {
  padding: 3px 15px 12px;
}

.toggle {
  padding-top: 7px;
}

.nav_menu {
  height: 43px;
  background: #fff;
  margin-bottom: 5px !important;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #e2e2e2;
}

.footer {
  margin-top: 35px;
  bottom: 20px;
  position: absolute;
  right: 10px;
}

.row {
  /*margin-left: none !important;*/
  /*margin-right: none !important;*/
}