.fa-upload {
  font-size: 50px;
}

.fa-upload:hover {
  color: #596a7b;
  cursor: pointer;
}

.file-hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.fa-remove {
  margin-left: 10px;
}

.fa-remove:hover {
  color: black;
  cursor: pointer;
}

#btn-get-name {
  margin-bottom: 20px;
}

#document-type-source {
  height: 0px;
  visibility: hidden;
}

