body {
}

input {
  height: 39px !important;
  border: 1px solid #b5bfce !important;
}

input:focus {
  box-shadow: 0px 0px 15px 0px !important;
  border: 1px solid #8d9eb8 !important;
}

button {
  height: 39px !important;
  border: 1px solid #445773 !important;
  background: #445773 !important;
  color: white;
}

button:hover {
  background: #6f829e !important;
  border: 1px solid #6f829e !important;
  color: white !important;
}

form {
  width: 100% !important;
}

.all {
  position: absolute;
  width: 100%;
  background-color: #DCD9D4;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.div-left {
  border-right: 2px solid #445773;
}

.img-icon {
  margin-bottom: 20px;
  margin-top: 40px;
}

.text-login {
  font-family: 'Muli', sans-serif;
  color: #445773;
  padding-left: 45px;
}

.alert {
  padding: 10px;
  font-style: italic;
}

.alert-danger {
  color: #8c0301;
  background-color: #e0b1b1;
  border-color: #dea0aa;
}
